.navbar {
    background: linear-gradient(0deg, rgba(0, 209, 255, 0.24), rgba(0, 209, 255, 0.24)),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
    color: black;
    width: 1538px;
    height: 138px;

}

.nav-link {
    color: black;
    margin: 20px;
}

.navbar-brand {
    color: black;
}

.navbar-collapse {
    justify-content: right;
}


#imagem2 {
    width: 16%;
}

#imagem1{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-110px;
		margin-top:40px
}