*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: rgba(1, 209, 255, 0.24);
    margin-left: 7%;
   
}

#subtitulo{
    font-family: sans-serif;
    color: rgba(1, 209, 255, 0.24);
    margin-left: 10%;
}

fieldset{
    border:0;

}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: rgba(1, 209, 255, 0.24);
    margin-left:36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    
}

.campo label{
    margin-bottom: 0.2em;
    color: rgba(1, 209, 255, 0.24);
    display: block;

}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
}

.campo input [type="text"], .campo input [type="email"], .campo select, .campo textarea{
   padding: 0.2em;
   border: 1px solid rgba(1, 209, 255, 0.24);
   box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
   display: block;
}

.campo select option{
  padding-right: 1em;

}

 .campo input:focus, .campo select:focus, .campo texterea:focus{
    background: #E0E0F8;
 }
 .botao{
    font-size: ;
 }